@use 'src/assets/global.scss';

section {
  overflow: hidden;

  .hidden {
    opacity: 0;
  }

  .initial-y {
    transform: translateY(20%);
  }

  .visible {
    opacity: 1;
    transform: none;
    transition: 0.2s linear;
  }

  @media (max-width: 1220px) {
    .section-container {
      flex-direction: column;
      justify-content: unset;
    }
  }


  @media (max-width: 750px) {
    cv-scouting-picture {
      font-size: 10px;
    }
  }
  @media (max-width: 400px) {
    cv-scouting-picture {
      font-size: 8px;
    }
  }

}
