@use './src/assets/global';

#cliff-top {
  z-index: 2;
  border-top: 10em solid #277047;
  border-right: global.$cliff-width solid transparent;
  border-bottom: 0 solid transparent;
  border-left: global.$cliff-side-shade-width solid transparent;
}

#cliff-shade {
  width: global.$cliff-width;
  height: global.$hobbies-section-height;
  background: -webkit-linear-gradient(left, #282438 global.$cliff-side-shade-width, #19202f 0em);
  z-index: 1;
}
