.organization-logo {
  max-width: 7em;
}

.skill-logo {
  max-width: 5em;
}

.description {
  text-align: justify;
}

#container {
  flex-direction: column;
  max-width: 40vw;
  border-top: 5px solid;
  background: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 30px 40px -20px hsl(229, 6%, 66%);
  padding: 3vw;
}

@media (max-width: 1200px) {
  #container {
    max-width: unset;
  }
}

.skill {
  justify-content: space-around;
  align-items: center;
}

.hidden {
  opacity: 0;
  transform: translateY(-1em);
}

.visible {
  opacity: 1;
  transform: translateY(0em);
  transition: 2s ease-in-out;
}
