#name {
  margin-bottom: 0;
}

#logo-container {
  align-items: flex-start;
  margin-left: 0.5em;

  #logo {
    width: 1em;
  }
}

@media (max-width: 768px) {
  #title-container {
    display: block !important;
  }
}
