#title-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#logo-container {
  margin-right: 1rem;

  #logo {
    width: 3em;
    height: 4.3em;
  }
}

@media (min-width: 768px) {
  #title-container {
    justify-content: flex-start;
  }
}

