#skills {
  background: #009473;
}

.spacer {
  aspect-ratio: 860/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

#layer1 {
  background-image: url('../assets/layer1.svg');
}
