@use 'sass:math';

@forward './styles/utils';
@forward "./styles/shared";
@forward './styles/home';

//@font-face {
//  font-family: "Poppins";
//  //src: url('fonts/poppins/');
//  src: url('fonts/Poppins-Regular.ttf') format('truetype')
//}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
$progress-line-width: 40em;

// hobbies
$hobbies-section-height: 40em;
$hobbies-section-height-wo-unit: 40;
$cliff-height: 10em;
$cliff-width: 100em;
$cliff-side-shade-width: 20em;
$fire-width: 15em;
$pine-tree-height: 15.5em;
$pine-tree-width: 10em;

$tent-width: 11em;
$tent-height: 6.2em;
$door-width: 2.5em;

$grass-height: 0.55em;
$grass-width: 0.5em;

$grass-blade-width: 0.5em;
$grass-blade-height: 0.1em;

//--text: #150f10;
//--background: #f0eaec;
//--primary: #c3002f;
//--secondary: #00273F;
//--accent: #646c87;

//--text: #dff0fc;
//--background: #011a2c;
//--primary: #f0a26a;
//--secondary: #041725;
//--accent: #df6a16;
