@use 'sass:math';

@forward './styles/utils';
@forward "./styles/shared";
@forward './styles/home';

$progress-line-width: 40em;

// hobbies
$hobbies-section-height: 40em;
$hobbies-section-height-wo-unit: 40;
$cliff-height: 10em;
$cliff-width: 100em;
$cliff-side-shade-width: 20em;
$fire-width: 15em;
$pine-tree-height: 15.5em;
$pine-tree-width: 10em;

$tent-width: 11em;
$tent-height: 6.2em;
$door-width: 2.5em;

$grass-height: 0.55em;
$grass-width: 0.5em;

$grass-blade-width: 0.5em;
$grass-blade-height: 0.1em;

