@use './src/assets/global';

#timeline-container {
  flex-direction: column;
  flex-wrap: wrap;
}

cv-progress-line {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.progress-line-section {
  margin: 10vh 0;
}

.odd-flip {
  transform: scaleX(-1);
}

@media (max-width: 750px) {
  #xp-section {
    font-size: 15px;
  }
  .progress-line-section {
    margin: 3vh 0;
  }
}
