@use 'src/assets/global.scss';

.section-container {
  padding: 5em 0;
}

clouds-devider {
  height: 0;
  display: flex;
  top: -5em;
}

#timeline-container {
  flex-direction: column;
  flex-wrap: wrap;
}

cv-progress-line {
  flex-direction: column-reverse;
  align-items: center;
}

.progress-line-section {
  margin: 10vh 0;
}

.odd-flip {
  transform: scaleX(-1);
}

@media (max-width: 750px) {
  cv-xp-section {
    font-size: 15px;
  }
  .progress-line-section {
    margin: 3vh 0;
  }
}
