/* You can add global styles to this file, and also import other style files */
@use 'src/assets/global.scss';

:root {
  --text: #E9F4FB;
  --background: #011a2c;
  --primary: #ff6d4d;
  --secondary: #e6e6e5;
  --accent: #d12600;
}



div {
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  font-family: Poppins, sans-serif;
  //font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  color: var(--text);
  background: rgb(1, 26, 44)
}

h1 {
  margin-top: 0;
  font-weight: unset;
  font-size: 1.7em;
}
h1, h2 {
  font-weight: unset;
}

.text-align-center {
  text-align: center;
}

section {
  min-height: 10em;
}

@media (max-width: 768px) {
  section {
    min-height: 10em;
  }
}

.section-container {
  display: block;
  margin: auto;
  width: global.$section-width;
}

.margin-1em {
  margin: 1em;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.bottom-0 {
  bottom: 0;
}

cv-xp {
  --text: #0d0d07;
  --background: #E6E6E5;
  --primary: #8dc4a8;
  --secondary: #dadaec;
  --accent: #a5557d;

  h1 {
    color: var(--text);
  }
}
