/* You can add global styles to this file, and also import other style files */
@use './src/assets/global';

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

div {
  margin: 0;
}

body {
  margin: 0;
}

html {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  overflow-x: hidden;
  color: white;
}

h1 {
  margin-top: 0;
}

section {
  min-height: 10em;
  width: 100vw;
}


.section-container {
  display: block;
  margin: auto;
  width: global.$section-width;
  justify-content: space-around;
}

.animation-paused {
  animation-play-state: paused !important;
}

.animation-running {
  animation-play-state: running !important;
}

.display-flex {
  display: flex;
}

.justify-content-end {
  justify-content: end;
}

.white-img {
  background: white;
  border: 1px solid black;
}

.margin-1em {
  margin: 1em;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-space-around {
  justify-content: space-around;
}

@for $i from 0 through 5 {
  .z-index-#{$i} {
    z-index: $i;
  }
}

.bottom-0 {
  bottom: 0;
}
