@use 'src/assets/global.scss';

#content {
  display: grid;
  justify-content: space-around;
  height: 100vh;
  grid-template-columns: 60% 40%;
  row-gap: 10em;
  justify-items: center;
  transform: translateY(4em)
}

@media (max-width: 768px) {
  #content {
    flex-direction: column;
    text-align: center;
  }
}
